<h1 class="text-center mt-4">Listing all Articles </h1>

<div class="container">  
  <% @articles.each do |article| %>
      <div class="row justify-content-md-center">
        <div class="col-6 mt-4">
          <div class="card text-center">
            <div class="card-header">
              by <i><%= article.user.username%></i>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= article.title %></h5>
              <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
              <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info" %>
              <%= link_to "Delete", article_path(article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
            </div>
            <div class="card-footer text-muted">
              Created <%= time_ago_in_words(article.created_on) %> ago

            </div>
          </div>
        </div>  
      </div>
  <% end %>
</div> 

